/*Colours*/
/*--> Light Mode Colours*/
:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #91b1c9, #d1cb80);

  --vp-home-hero-image-background-image: linear-gradient(-45deg, #e2e2e2 10%,#ff00d000 80%);
  --vp-home-hero-image-filter: blur(100px);


  --vp-c-brand-1: #91b1c9;
  --vp-c-brand-2: #d1cb80;
  --vp-c-brand-3: #91b1c9;
  --vp-c-brand-soft: #87b91a20;
  
  --vp-badge-tip-border: transparent;
  --vp-badge-tip-text: var(--vp-c-brand-1);
  --vp-badge-tip-bg: var(--vp-c-brand-soft);


  --vp-button-sponsor-bg: #f3f3f3;
  --vp-button-sponsor-border: #ddd;
  --vp-button-sponsor-text: #000;
  --vp-button-sponsor-hover-border: #bbb;
  --vp-button-sponsor-hover-text: #000;
  --vp-button-sponsor-hover-bg: #e2e2e2;
}

/*--> Dark Mode Colours*/
.dark {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #dfd12f, #86b91a);

  --vp-home-hero-image-background-image: linear-gradient(-45deg, #070707 50%, #86b91a 50%);
  --vp-home-hero-image-filter: blur(100px);

  --vp-c-brand-1: #86b91a;
  --vp-c-brand-2: #dfd12f;
  --vp-c-brand-3: #86b91a;
  --vp-c-brand-soft: #87b91a20;


  --vp-button-sponsor-bg: #333;
  --vp-button-sponsor-border: #555;
  --vp-button-sponsor-text: #fff;
  --vp-button-sponsor-hover-border: #888;
  --vp-button-sponsor-hover-text: #fff;
  --vp-button-sponsor-hover-bg: #444;
}
/*End-of-Colours*/


/*Alignments*/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;;
}

.img-padding {
  padding: 10px;
}

/*End-of-Alignments*/



/*Custom-Button*/
.custom-button {
  padding: 4px 8px;
  border-radius: 4px;
  border-color: var(--vp-button-alt-border);
  color: var(--vp-button-alt-text);
  background-color: var(--vp-button-alt-bg);
  margin-right: 8px; /* Add right margin for spacing between buttons */
  margin-top: 12px; /* Add right margin for spacing between buttons */
  margin-bottom: 8px; /* Add right margin for spacing between buttons */
}

.custom-button:last-child {
  margin-right: 0; /* Remove right margin for the last button */
}

.custom-button:hover {
  border-color: var(--vp-button-alt-hover-border);
  color: var(--vp-button-alt-hover-text);
  background-color: var(--vp-button-alt-hover-bg);
}
/*End-of-Custom-Button*/




